In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt

df = pd.read_csv('reviews_1500_end.csv',low_memory=False)

In [2]:
df_hm = df.drop(columns=['Unnamed: 0','review_text','review_title','skin_tone','eye_color','skin_type','hair_color','product_id',
                         'product_name','brand_name','submission_time'])
df_hm=df_hm.set_index('author_id')
df_hm

,rating,is_recommended,helpfulness,total_feedback_count,total_neg_feedback_count,total_pos_feedback_count,price_usd
author_id,,,,,,,
1945004256,5,1.0,0.000000,2,2,0,65.0
5478482359,3,1.0,0.333333,3,2,1,65.0
29002209922,5,1.0,1.000000,2,0,2,65.0
7391078463,5,1.0,1.000000,2,0,2,65.0
1766313888,5,1.0,1.000000,13,0,13,65.0
...,...,...,...,...,...,...,...
2276253200,5,1.0,NaN,0,0,0,49.0
28013163278,5,1.0,NaN,0,0,0,49.0
1539813076,5,1.0,NaN,0,0,0,49.0
5595682861,5,1.0,NaN,0,0,0,49.0
27666075558,5,1.0,NaN,0,0,0,49.0

In [ ]:
sns.heatmap(df_hm, annot=True)